$accent: #D7B399;
$dark: #212121;
$light: #F9F6F1;
$gray: #CBCFD4;
$light-gray: #F4F4F4;
$dark-gray: #8D8D8D;
$important: #D84033;

body {
    font-family: 'Montserrat', sans-serif;
}

.page {
    padding: 50px 0;
}

.page-light {
    background-color: $light;
}

.page-dark {
    background-color: $dark;
}

.wrapper {
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 76px;
}

.nav {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    &-item {
        margin-right: 52px;
    }
    &-link {
        color: $dark;
        text-decoration: none;

    }
}

.card {
    background-image: url(../img/basket.svg);
    display: block;
    padding-left: 45px;
    background-repeat: no-repeat;
    background-position: 0 center;
    width: 30px;
    height: 30px;
    &-count {
        background-image: url(../img/card-bg.svg);
        background-repeat: no-repeat;
        background-position: 0 center;
        display: block;
        font-size: 12px;
        font-weight: 700;
        color: white;
        padding: 10px 24px;

    }
}

.main {
    display: flex;
    justify-content: space-between;
    &-item{
        flex: 0 0 50%;
    }
    .sale {
        &-description {
            font-size: 30px;
        }
        &-title {
            margin-top: 30px;
            font-size: 55px;
            font-weight: 700;
            margin-bottom: 57px;
        }
    }
}

.btn {
    background-color: $accent;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 30px;
    &-xs {
        padding: 8px 30px;
    }
    &-center{
        display: block;
        text-align: center;
        max-width: 200px;
        margin: 0 auto;
        span {
            margin-right: 15px;
        }
    }
}

.box {
    position: relative;
    &-price {
        position: absolute;
        right: 0;
        top: 35px;
        text-align: right;
        &-old{
            font-size: 24px;
            font-weight: 700;
        }
        &-new {
            font-size: 42px;
            font-weight: 700;
            color: $important;
            margin-top: 17px;
        }
    }
    
}

.notice {
    text-align: center;
    background-color: $dark;
    color: #fff;
    padding: 70px 0;
    &-title {
        font-weight: 400;
        font-size: 30px;
        text-transform: uppercase;
        span {
            font-weight: 700;
        }
    }
    &-descriptoin {
        font-weight: 300;
        font-size: 21px;
    }
}

.collection {
    display: flex;
    justify-content: space-between;
    &-item {
        flex: 0 0 50%;
        padding: 50px 0;
        background-repeat: no-repeat;
        background-size: 190px 171px;
        background-position: calc(100% - 50px) bottom;

    }
    &-title {
        font-size: 24px;
        font-weight: 500;
        text-transform: uppercase;
        padding-bottom: 25px;
    }
    &-description {
        font-size: 16px;
        padding-bottom: 40px;
    }
    &-man {
        background-image: url(../img/man.png);    
    }
    &-woman {
        background-image: url(../img/woman.png);
    }
}

.title-h2 {
    text-align: center;
    font-size: 36px;
}

.product {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 30px 0;
    &-item {
        flex: 0 0 24%;
        position: relative;
        &::before {
            content: "";
            display: block;
            width: 100%;
            height: 25px;
            background-image: url(../img/item-top.svg);
            background-size: cover;
            background-repeat: no-repeat;
        }
        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 25px;
            background-image: url(../img/item-bottom.svg);
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
    &-title {
        font-weight: 600;
        text-align: center;
    }
    &-price {
        color: $accent;
        font-size: 18px;
        font-weight: 700;
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    &-logo {
        flex: 0 0 30%;
    }
    &-nav {
        display: flex;
        flex: 0 0 70%;
        justify-content: space-between;
        color: #fff;
    }
    &-list {
        list-style-type: none;
        padding-left: 0px;
        &-title {
            font-size: 10px;
            font-weight: 700;
        }
        &-item {
            margin-bottom: 10px;

        }
        &-link {
            font-size: 14px;
            text-decoration: none;
            color: $gray;
        }
    }
}

.vk {
    padding-left: 30px;
    position: relative;
    &::before {
        position: absolute;
        content: "";
        background-image: url(../img/vk.svg);
        width: 24px;
        height: 24px;
        left: 0;
        top: 4px;
        background-repeat: no-repeat;
    }
}
.fb {
    padding-left: 30px;
    position: relative;
    &::before {
        position: absolute;
        content: "";
        background-image: url(../img/fb.svg);
        width: 24px;
        height: 24px;
        left: 0;
        background-repeat: no-repeat;
    }
}
.in {
    padding-left: 30px;
    position: relative;
    &::before {
        position: absolute;
        content: "";
        background-image: url(../img/in.svg);
        width: 24px;
        height: 24px;
        left: 0;
        background-repeat: no-repeat;
    }
}